.findWolf1{
    position : absolute;
    width: 150px;
    height: 120px;
    top: 50px;
    left: 1250px;
    display: none;
    animation:wolfmove 1.5s infinite ;
}
.findWolf2{
    position : absolute;
    width: 150px;
    height: 120px;
    top: 50px;
    left: 550px;
    display: none;
    animation:wolfmove 1.5s infinite  ;
}


@keyframes wolfmove{
    0%{
        transform:translate(0%,0%);
    }
    50%{
        transform:translate(0%,5%);
    }

    100%{
        transform: translate(0%,0%);
    }
}