#page_5{
    margin-top: -6%;
}

.han{
    width: 100%;height: 100%;
    background-color: #0A1843;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    overflow: visible;
}

.han h1{
    font-family: 'lemon';
    font-style: normal;
    font-weight:  bolder;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    text-shadow: 3px 3px #6183E7;
}

#han2{
    width: 100%;
    height: 65%;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:thin;
}

#han2::-webkit-scrollbar {
	height: 70px;
}

#han2::-webkit-scrollbar-track {
	background-color: #0A1843;
	border-radius: 100px;
}

#han2::-webkit-scrollbar-thumb {
	background-color: #eee;
	height: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 100px;
    background-clip: padding-box;
    border: 30px solid transparent;
}

/* #han2::-webkit-scrollbar{
    display:none;
} */

#han2 span{
    font-size: 200px;
    color: #6183E7;
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 500;
    font-size: 170px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#han2 div{
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}

#han3>div{
    width: 100%;
}

/* #han3 div>div{
    padding: 30px;
} */

@media screen and (max-width:1280px){
    /*태블릿 가로*/
    .roadmap table{
        width: 70%;
    }
    .rmtitle h1{
        font-size: 40px;
    }
    .rmtitle i{
        font-size: 14px;
    }
    .back, #choi ,#park, #u, #ylee, #olee{
        width:110px; height: 110px;
        font-size: 14px;
    }
    th{
        font-size: 12px;
    }
    .mc{
        font-size: 12px;
        line-height: 120%;
    }
}
@media screen and (max-width:420px) {
    /* 모바일 세로 */
    #page_4{
        width: 100%;
    }
    .roadmap table{
        width: 100%;
        font-size: 7px;
    }
    .rmtitle h1{
        font-size: 35px;
    }
    p{
        display: hidden;
    }
    .rmtitle i{
        font-size: 14px;
    }
    .back, #choi ,#park, #u, #ylee, #olee{
        width:73px; height: 73px;
        font-size: 15px;
    }
    .mc{
        font-size: 2px;
        line-height: 150%;
    }
}
