#page_10 {
  background-color: #0A1843;
  height: fit-content;
  font-family: 'Libre Franklin';
}

#round {
  position: relative;
  top: -85px;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255); 
  height: 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 5;
}

.paper {
  background-color: white;
  width: 100%;
  height: 360px;
  position: relative;
  top: -100px;
  /* border-top-left-radius: 8%;
  border-top-right-radius: 8%; */
    overflow: hidden;
    z-index: 3;
  padding-top: 30px;
  padding-left: 7%;
}

.name-title {
width: fit-content;
height: 100px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-pack: center;
justify-content: center;
justify-items: end;
grid-auto-flow: column;
grid-auto-columns: auto;
grid-column-gap: 0vw;
grid-row-gap: 0vw;
grid-template-rows: auto;
color: #fff;
position: relative;
top: 20px;
left: 50px;
padding-right: 20px;
font-size: 2.5vw;
}

.name-title h2 {
  color: #121212;
position: relative;
top: -50px;
}

.special-2.no-spacing {
width: 450px;
padding-right: 20;
height: 150px;
}

.special-2 {
display: inline-block;
height: auto;
background-image: linear-gradient(-45deg, #FF5B48, #FFB157, #50CCF1, #634DB6, #43BA88, #3977D3) !important;
background-size: 300% !important;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: Gradient 10s ease infinite !important;
/* padding-left: 0; */
line-height: 100px;
font-style: italic;
font-weight: 500;
color: #121212;
font-size: 5vw;
text-transform: none;
letter-spacing: 0;
-webkit-box-direction: normal;
padding: 10px 10px;
}

@keyframes Gradient { 
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

#node {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
position: relative;
left: 100px;
top: -3em;
max-width: 100%;
margin-top: 0.1rem;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
-webkit-box-align: end;
align-items: flex-end;
}

.contact-info-wrapper {
display: flex;
width: 50%;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-align: start;
align-items: flex-start;
grid-row-gap: 0rem;
margin: 80px 30px;
}

.button.footer-link-align-left {
padding-left: 0;
}

.button {
display: flex;
padding: 0.75rem 1.875rem;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
border: 1px #cacaca;
border-radius: 100px;
background-color: #fff;
color: #000;
font-size: 1rem;
font-weight: 400;
text-align: center;
max-width: 100%;
}

a {
text-decoration: inherit;
}

a:-webkit-any-link {
  cursor: pointer;
} 

.button-text {
display: flex;
height: 2rem;
padding: 0;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-pack: start;
justify-content: flex-start;
-webkit-box-align: start;
align-items: flex-start;
background-color: transparent;
text-align: center;
overflow: hidden;
}

.button-text-item.text-size-medium.text-color-black {
color: #121212;
}

.button-text-item {
display: flex;
min-height: 2rem;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
}

.text-size-medium {
font-size: 1.5rem;
}

.text-size-small.text-color-black.footer-location {
margin-top: 0.75rem;
margin-bottom: 0.75rem;
}

.text-size-small {
font-size: 1.125rem;
}

.text-color-black {
color: #000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
text-decoration:none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

.rolling a {
  width:70vw;
  height:7vh;
  line-height:50px;
}

a.roll {
  display: block;
  width: 900px;
  height: 120px;
  text-align: center;
  color: #fff;
  mix-blend-mode: difference;
  font-size: 78px;
  margin-left: -8.5vw;
  line-height: 110px;
}

/* body{background-color:#fff;} */

.banner {
border-radius: 80px;
width:600px; 
height:120px;  background-color:#000;
position: relative;
top: -27.5vw;
left: 47vw;
}

.rolling{position:relative; width:100%; height:32vw; }

.rolling span{width:40vw; height:8vw; line-height:50px; overflow: hidden;}
